@import './reset.css';
@import './style/font.css';

* {
  box-sizing: border-box;
  line-height: normal;
  color: #f7f7f7;
}

body {
  background-color: #1F2124;
  min-height: 100vh;
  font-family: nanum-my;
}

#__next {
  min-height: 100vh;
}

a:active,
a:link,
a:focus,
a:visited {
  text-decoration: none;
}
